@using BlazorPro.BlazorSize
@implements IDisposable
@inject IResizeListener _listener
<MudLayout>
    <MudAppBar Elevation="1">
        @if (!Open)
        {
            <a href="/">
                <MudImage Src="images/Toasty.png" Height="50" />
            </a>
            if (!ShowSmallTitle)
            {
                <MudText Class="site-logo-text site-title-large" Typo="Typo.overline" Align="Align.Center">The Stocked Kitchen</MudText>
            }
            else
            {
                <MudText Class="site-logo-text site-title-large" Typo="Typo.overline" Align="Align.Center">TSK</MudText>
            }
        }
        <MudSpacer />
        <MudTooltip Arrow="true" Placement="Placement.Bottom" Color="Color.Primary">
            <ChildContent>
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Href="https://github.com/aleewolfram/TheStockedKitchen" Target="_blank" />
            </ChildContent>
            <TooltipContent>
                <MudText Typo="Typo.overline">GitHub</MudText>
            </TooltipContent>
        </MudTooltip>
    </MudAppBar>
    <MudDrawer Elevation="20" Width="15%" Open="@Open" Fixed="true" Variant="@DrawerVariant.Mini" PreserveOpenState="true">
        <MudDrawerHeader>
            @if (Open)
            {
                <a href="/">
                    <MudImage Src="images/Toasty.png" Height="50" />
                </a>
                <MudText Class="site-logo-text site-title-small" Typo="Typo.overline" Align="Align.Center">The Stocked Kitchen</MudText>
            }
        </MudDrawerHeader>
        <MudNavMenu>
            <AuthorizeView>
                <Authorized>
                    @if (Open)
                    {
                        <MudNavLink Icon="@Icons.Material.Filled.FoodBank" Href="/pantry">
                            <MudText Class="nav-text-large" Typo="Typo.overline">Pantry</MudText>
                        </MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.Fastfood" Href="/recipes">
                            <MudText Class="nav-text-large" Typo="Typo.overline">Recipes</MudText>
                        </MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.ShoppingCart" Href="/shopping">
                            <MudText Class="nav-text-large" Typo="Typo.overline">Shopping</MudText>
                        </MudNavLink>
                        <MudDivider Class="my-2" />
                        <MudNavLink Icon="@Icons.Material.Filled.Info" Href="/info">
                            <MudText Class="nav-text-large" Typo="Typo.overline">Info</MudText>
                        </MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.Mail" Href="/contact">
                            <MudText Class="nav-text-large" Typo="Typo.overline">Contact</MudText>
                        </MudNavLink>
                    }
                    else
                    {
                        <MudTooltip Arrow="true" Placement="Placement.Right" Color="Color.Primary">
                            <ChildContent>
                                <MudNavLink Icon="@Icons.Material.Filled.FoodBank" Href="/pantry">Pantry</MudNavLink>
                            </ChildContent>
                            <TooltipContent>
                                <MudText Typo="Typo.overline">Pantry</MudText>
                            </TooltipContent>
                        </MudTooltip>
                        <MudTooltip Arrow="true" Placement="Placement.Right" Color="Color.Primary">
                            <ChildContent>
                                <MudNavLink Icon="@Icons.Material.Filled.Fastfood" Href="/recipes">Recipes</MudNavLink>
                            </ChildContent>
                            <TooltipContent>
                                <MudText Typo="Typo.overline">Recipes</MudText>
                            </TooltipContent>
                        </MudTooltip>
                        <MudTooltip Arrow="true" Placement="Placement.Right" Color="Color.Primary">
                            <ChildContent>
                                <MudNavLink Icon="@Icons.Material.Filled.ShoppingCart" Href="/shopping">Shopping</MudNavLink>
                            </ChildContent>
                            <TooltipContent>
                                <MudText Typo="Typo.overline">Shopping</MudText>
                            </TooltipContent>
                        </MudTooltip>
                        <MudDivider Class="my-2" />
                        <MudTooltip Arrow="true" Placement="Placement.Right" Color="Color.Primary">
                            <ChildContent>
                                <MudNavLink Icon="@Icons.Material.Filled.Info" Href="/info">Info</MudNavLink>
                            </ChildContent>
                            <TooltipContent>
                                <MudText Typo="Typo.overline">Info</MudText>
                            </TooltipContent>
                        </MudTooltip>
                        <MudTooltip Arrow="true" Placement="Placement.Right" Color="Color.Primary">
                            <ChildContent>
                                <MudNavLink Icon="@Icons.Material.Filled.Mail" Href="/contact">Contact</MudNavLink>
                            </ChildContent>
                            <TooltipContent>
                                <MudText Typo="Typo.overline">Contact</MudText>
                            </TooltipContent>
                        </MudTooltip>
                    }
                </Authorized>
                <NotAuthorized>
                    @if (Open)
                    {
                        <MudNavLink Icon="@Icons.Material.Filled.Login" Href="authentication/login">
                            <MudText Class="nav-text-large" Typo="Typo.overline">Register/Sign In</MudText>
                        </MudNavLink>
                        <MudDivider Class="my-2" />
                        <MudNavLink Icon="@Icons.Material.Filled.Info" Href="/info">
                            <MudText Class="nav-text-large" Typo="Typo.overline">Info</MudText>
                        </MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.Mail" Href="/contact">
                            <MudText Class="nav-text-large" Typo="Typo.overline">Contact</MudText>
                        </MudNavLink>
                    }
                    else
                    {
                        <MudTooltip Arrow="true" Placement="Placement.Right" Color="Color.Primary">
                            <ChildContent>
                                <MudNavLink Icon="@Icons.Material.Filled.Login" Href="authentication/login">Register/Sign In</MudNavLink>
                            </ChildContent>
                            <TooltipContent>
                                <MudText Typo="Typo.overline">Register/Sign In</MudText>
                            </TooltipContent>
                        </MudTooltip>
                        <MudDivider Class="my-2" />
                        <MudTooltip Arrow="true" Placement="Placement.Right" Color="Color.Primary">
                            <ChildContent>
                                <MudNavLink Icon="@Icons.Material.Filled.Info" Href="/info">Info</MudNavLink>
                            </ChildContent>
                            <TooltipContent>
                                <MudText Typo="Typo.overline">Info</MudText>
                            </TooltipContent>
                        </MudTooltip>
                        <MudTooltip Arrow="true" Placement="Placement.Right" Color="Color.Primary">
                            <ChildContent>
                                <MudNavLink Icon="@Icons.Material.Filled.Mail" Href="/contact">Contact</MudNavLink>
                            </ChildContent>
                            <TooltipContent>
                                <MudText Typo="Typo.overline">Contact</MudText>
                            </TooltipContent>
                        </MudTooltip>
                    }
                </NotAuthorized>
            </AuthorizeView>
        </MudNavMenu>
    </MudDrawer>
</MudLayout>

@code {
    bool Open = true;
    bool ShowSmallTitle = false;

    BrowserWindowSize browser = new BrowserWindowSize();

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _listener.OnResized += WindowResized;
        }
    }

    void IDisposable.Dispose()
    {
        _listener.OnResized -= WindowResized;
    }

    async void WindowResized(object _, BrowserWindowSize window)
    {
        browser = window;

        Open = await _listener.MatchMedia("(min-width: 1300px)");
        ShowSmallTitle = await _listener.MatchMedia("(max-width: 600px)");

        StateHasChanged();
    }

    void ToggleDrawer()
    {
        Open = !Open;
    }

}
